body {
  background-color: #EEEEEE;
  font-family: helvetica;
  color: #0066CC;
}

#camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my_camera {
  width: 50vh !important;
  max-width: 800px;
  height: 50vh !important;
  max-height: 800px;
  padding: 2rem;
}

video {
  width: initial !important;
  height: 100% !important;
}

#processed_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.result_wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 256px;
  height: 256px;
  object-fit: cover;
}

ol {
  list-style-type: none;
  padding: 0.1rem;
}

li {
  color: black;
  font-size: 1.5rem;
}

.loader {
  width: 100px;
  height: 100px;
  background-image: url('loader.gif');
  background-position: 50% 50%;
  background-size: cover;
}
